/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #2d3249;
  background: linear-gradient(90deg, #2d3249 0%, #2e303f 100%);
}

.wrapper {
  max-width: 850px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
.wrapper h1 {
  margin-top: 50px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 35px;
}
.wrapper p {
  color: #ffffff;
}

.players-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.players-wrapper h2 {
  color: #ffffff;
  font-size: 35px;
}
.players-wrapper #playerForm {
  margin-left: auto;
  display: flex;
}
@media screen and (max-width: 767px) {
  .players-wrapper #playerForm {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 25px;
  }
}
.players-wrapper #playerForm input {
  height: 25px;
  width: 250px;
  max-width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ffffff;
  border-left: 0;
  background: none;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .players-wrapper #playerForm input {
    flex-grow: 1;
  }
}
.players-wrapper #playerForm button {
  background: #393e57;
  color: #ffffff;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
}
.players-wrapper #playerForm button:hover {
  background: #363b57;
}
.players-wrapper #players {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}
.players-wrapper #players .player {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 25px;
  margin-bottom: 15px;
  margin-right: 60px;
  background: #20232d;
  box-shadow: 0 5px 5px #282a3a;
  border-radius: 5px;
}
.players-wrapper #players .player--is-killer .player__number {
  background: #e13c31;
}
.players-wrapper #players .player--is-killer .player__number:before {
  content: "";
  display: block;
  width: 20px;
  height: 26px;
  background-image: url(../img/fire.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
}
.players-wrapper #players .player--is-killer .player__points {
  background: #e13c31;
}
.players-wrapper #players .player--is-dead {
  background-image: url("../img/BloodOverlay.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.players-wrapper #players .player--is-dead .player__number {
  font-size: 0;
}
.players-wrapper #players .player--is-dead .player__number:after {
  content: "\f54c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
}
.players-wrapper #players .player button {
  border: none;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}
.players-wrapper #players .player__name {
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  margin-right: 15px;
}
.players-wrapper #players .player__number {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #2657ca;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}
.players-wrapper #players .player__points {
  color: #ffffff;
  font-size: 30px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #2657ca;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}
.players-wrapper #players .player__points--increment-btn {
  margin-left: auto;
  margin-right: 20px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #393e57;
  font-size: 40px;
}
.players-wrapper #players .player__points--increment-btn:disabled {
  opacity: 0.5;
}
.players-wrapper #players .player__points--increment-btn i {
  pointer-events: none;
}
.players-wrapper #players .player__points--decrement-btn {
  margin-right: 20px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #393e57;
  font-size: 40px;
}
.players-wrapper #players .player__points--decrement-btn:disabled {
  opacity: 0.5;
}
.players-wrapper #players .player__points--decrement-btn i {
  pointer-events: none;
}
.players-wrapper #players .player__delete-btn {
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  color: #c6c6c6;
  background: none;
}
.players-wrapper #players .player__delete-btn i {
  pointer-events: none;
}

/*# sourceMappingURL=app.css.map */
